#canvas_div{
	margin:auto;
	text-align:center;
	padding-top:20px;
}
#canvas{
	position:absolute;
	margin-top:10px;
}
#canvas2{
	position:relative;
}
#slika{
	hidden:true;
}

#slika2{
	hidden:true;
	height:16px;
}
#menu{
	margin:auto;
	text-align:center;
}
.buttons{
	height:40px;
	width:70px;
	border-radius:5px;
	border-color:gray;
	background-color:#9f9c57;
	color:#2f2a12;
	height:60px;
	width:100px;
}
body{
	background-image:url('../images/map.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#start{
	margin-left:-400px;
	margin-right:25px;
	font-family:Segoe UI;
}

button:disabled{
	background-color:7f8f57
}